{% extends 'layout/base.html' %}
{% set current_page = 'series' -%}

{% block body %}

<div class="breadcrumbs"><a href="{{ url_for('.index') }}">{{ _('Series') }}</a> /</div>
<h1>{{ series.title }}</h1>

{%- if series.alternative_titles %}
<div class="data-label">{{ _('Alternative Names') }}</div>
<div class="data-value">{{ series.alternative_titles|join(', ') }}</div>
{%- endif %}

{%- if parties %}
<h2>{{ _('Parties') }}</h2>
{% include 'party/_list.html' %}
<div class="block is-hcentered">{{ parties|length }} items</div>
{%- endif %}

{%- if series.links and series.links.website %}
  {%- with website = series.links.website %}
<h2>{{ _('Links') }}</h2>

<div class="data-label">{{ _('Website') }}</div>
<div class="data-value">
    {%- if not website.offline %}
  <a href="{{ website.url }}">{{ website.url }}</a>
    {%- else %}
  {{ website.url }} <small class="dim">(offline)</small>
    {%- endif %}
</div>
  {%- endwith %}
{%- endif %}

{%- endblock %}
