{% extends 'layout/base.html' %}
{% set current_page = 'homepage' -%}
{% set raw_body_layout = true %}

{% block body %}

<div class="body-section">
  <div class="container">

    <div class="block text--centered">This is a database of <strong>past, public LAN parties</strong>. So far, it covers:</div>

    <div class="block row is-collapsible is-hcentered" style="gap: 1.5rem 3rem;">
      <div class="column text--centered">
        <a href="{{ url_for('party.index') }}">
          <div class="bignumber">{{ party_count }}</div>
          <div class="bignumber-caption">parties</div>
        </a>
      </div>
      <div class="column text--centered">
        <a href="{{ url_for('series.index') }}">
          <div class="bignumber">{{ series_count }}</div>
          <div class="bignumber-caption">party series</div>
        </a>
      </div>
      <div class="column text--centered">
        <a href="{{ url_for('party.index_countries') }}">
          <div class="bignumber">{{ country_count }}</div>
          <div class="bignumber-caption">countries</div>
        </a>
      </div>
    </div>

  </div>
</div>

<div class="body-section">
  <div class="container">

    <div class="block">
      A bunch of people were so kind to provide, discover, seek, hunt, unearth, collect, clean up, format, validate, correct, enrich, and submit data:
    </div>
    <div class="block row is-compact is-hcentered is-wrapping contributors">
    {%- for contributor in data_contributors %}
      <img src="{{ contributor.github_avatar_url }}">
    {%- endfor %}
    </div>
    <div class="block">
      Very much appreciated, thank you so much! 🫶>
    </div>

    <div class="block">
      See the <a href="https://github.com/lanpartydb/data/blob/main/CONTRIBUTING.md">contribution guide</a> to learn how you can help improving this database by adding more parties.
    </div>

  </div>
</div>

<div class="body-section">
  <div class="container">

    <div class="block">
      There is also a list of <a href="https://corona-effekt.orgatalk.de/">parties that were cancelled because of the COVID-19 pandemic</a>.
    </div>

  </div>
</div>

{%- endblock %}
